body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-primary {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.nav-link:hover {
    background-color: rgb(130, 142, 153);
}

header i {
    padding: 0.5rem;
}

.search-bar-end {
    border-radius: 5px 0px 0px 5px;
}

.search-bar-start {
    border-radius: 0px 5px 5px 0px;
}

.side-bar-md-xs {
    width: 150px;
}

.bg-img {
    background-image: url(../img/sidebar-bg.png);
    --bs-dark-rgb: 21, 38, 58;
}

.bg-badge {
    background-color: rgb(46, 89, 184);
}

.offcanvas {
    --bs-offcanvas-width: 800px
}

@media screen and (max-width: 991px) {
    .side-bar-md-xs {
        width: 80px;
        font-size: 25px;
        align-items: center;
    }
}

@media screen and (max-width: 561px) {
    .col-none {
        display: none;
    }
}